@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');


@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-bold;
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-black;
  src: url(fonts/Inter-Black.ttf);
}

@font-face {
  font-family: Inter-extrabold;
  src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-extralight;
  src: url(fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: Inter-light;
  src: url(fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-medium;
  src: url(fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-semibold;
  src: url(fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-thin;
  src: url(fonts/Inter-Thin.ttf);
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E2EEEF;
}

h1 {
  font-family: Inter-bold;
  font-size: 10.2 px;
}

h2 {
  font-family: Inter-medium;
  font-size: 8.2 px;
}

h3 {
  font-family: Inter-light;
  font-size: 6.2 px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-300 {
  width: 500px;
}
