@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');


@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-bold;
  src: url(fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-black;
  src: url(fonts/Inter-Black.ttf);
}

@font-face {
  font-family: Inter-extrabold;
  src: url(fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-extralight;
  src: url(fonts/Inter-ExtraLight.ttf);
}

@font-face {
  font-family: Inter-light;
  src: url(fonts/Inter-Light.ttf);
}

@font-face {
  font-family: Inter-medium;
  src: url(fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-semibold;
  src: url(fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: Inter-thin;
  src: url(fonts/Inter-Thin.ttf);
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E2EEEF;
}

h1 {
  font-family: Inter-bold;
  font-size: 10.2 px;
}

h2 {
  font-family: Inter-medium;
  font-size: 8.2 px;
}

h3 {
  font-family: Inter-light;
  font-size: 6.2 px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-300 {
  width: 500px;
}

input {
  height: 35px;
  width: 250px;
  padding: 10px;  
  border: 1px solid #C2C9D1;
  font-family: Inter;
}

.Login {
  background-color: white;
}

.buttonEnable{
  background-color: #0AB5CC;
  color: #F5F5F5;
  padding: 5% 15px 5% 15px;
}

.buttonDisable{
  border: 3px solid #0AB5CC;
  color: #0AB5CC;
  background-color: rgba(0,0,0,0);
  padding: 5% 15px 5% 15px;
}

.eventHeader{
  display: grid;
  grid-template-columns: 27% 33% 18% 22%;
  width: 100%;
}

.griditem{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px ;
}

.right{
  justify-self: end;
}

/* * {
  border: solid green 1px;
} */